<div>
    <p>This webpage is for creating and giving offers for invitation to tender (ITT).</p>
    <p>ITT List shows list of open ITT, ITT List completed shows completed ITT, Add ITT goes to ITT creation form.</p>
</div>