<form method="post" action="/itts/">
    <label>ITT Name:</label>
    <input name="itt_name" type="text" /><br />
    <label>Institution Name:</label>
    <input name="institution_name" type="text" /><br />
    <label>ITT Description:</label>
    <input name="itt_description" type="textarea" /><br />
    <label>Start Date:</label>
    <input name="start_date" type="datetime-local" /><br />
    <label>End Date:</label>
    <input name="end_date" type="datetime-local" /><br />
    <label>Max Price:</label>
    <input name="max_price" type="number" min="1" /><br />
    <input type="submit" value="Add ITT" />
</form>